/* styles.css dosyası içeriği */
body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
}

#projectForm {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#projectsContainer {
    margin-top: 20px;
}
